.main {
  -webkit-text-fill-color: black;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 0;
  background-color: white;
  color: black;
  .sect {
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    .poster {
      width: 100%;
      position: relative;
      height: 320px;
      background-size: cover;
      background-position: center;
      margin-bottom: 32px;
      .posterblur {
        position: absolute;
        inset: 0px;
        background-color: black;
        opacity: 0.6;
      }
      .postertitle {
        position: absolute;
        bottom: 0px;
        left: 0px;
        margin: 16px;
        p {
          font-size: 2.25rem /* 36px */;
          line-height: 2.5rem /* 40px */;
          font-weight: 700;
          -webkit-text-fill-color: white;
        }
      }
    }
    .authoranddate {
      padding-left: 32px;
      padding-right: 32px;
      display: flex;
      flex-direction: column;
      justify-content: baseline;
      .authordiv {
        color: rgb(229 231 235 / 1);
        padding: 8px;
        border-radius: 6px;
        p {
          font-size: 0.875rem /* 14px */;
          line-height: 1.25rem /* 20px */;
        }
      }
      .datediv {
        margin-left: 1rem;
        color: rgb(107 114 128 /1) p {
          font-size: 0.875rem /* 14px */;
          line-height: 1.25rem /* 20px */;
        }
      }
    }
    .container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      div {
        max-width: 800px;
        text-align: justify;
        -webkit-text-fill-color: black;
        img {
          max-height: 600px;
          max-width: 800px;
          object-fit: contain;
        }
      }
    }
  }
}
