.main{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 0;


.topSection {
  display: flex;
  flex-direction: column;
  align-items: center;

  > h3 {
      font-size: 48px;
      font-weight: 500;
      color: #caccff;
      margin-bottom: 48px;
      background: #FFF;
      -webkit-background-clip: text;
      background-clip: text;
      text-align: center;
      color: transparent;
  }

  .topList {
      margin-top: 10%;
      width: 100%;
      display: flex;
      gap: 56px;
      padding: 36px 0;
      scroll-behavior: smooth;
      overflow-x: auto;
      overflow-y: hidden;
      align-items: center;
      justify-content: flex-start;

      &::-webkit-scrollbar {
          width: 0 !important;
      }

      .topItem {
          position: relative;
          flex: 0 0 100%;
          width: 100vw;
          height: 60vh;
          overflow: hidden;
          padding: 48px 24px;
          background: cover;
          background-position: center;
          cursor: pointer;
          transition: background 0.3s ease, opacity 0.3s ease;
          z-index: 0;

          .content {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 10;
              display: flex;
              flex-direction: column;
              justify-content:center;
              align-items: center;
              text-align: center;
          }

          h3 {
              font-size: 58px;
              font-weight: 400;
              color: #FFF;
              margin: 10px 10px 10px 28px;
          }

          p {
              color: #FFF;
              font-size: 20px;
              font-weight: 500;
              margin: 10px 26px 26px 26px;
          }
      }
  }
  .dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .dot {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #ccc;
      margin: 0 5px;
      transition: background-color 0.3s ease;
    }

    .active {
        background: #3237C0;
    }
  }

  .caseSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;

    > h2 {
        font-size: 48px;
        font-weight: 500;
        color: #caccff;
        margin-bottom: 48px;
        background: #FFF;
        -webkit-background-clip: text;
        background-clip: text;
        text-align: center;
        color: transparent;
    }

    .caseStudyList {
      width: 90vw;
      display: flex;
      gap: 36px;
      padding: 36px 0;
      scroll-behavior: smooth;
      overflow-x: auto;
      overflow-y: hidden;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;

        &::-webkit-scrollbar {
            width: 0 !important;
        }

        .caseItem {
            position: relative;
            min-width: 345px;
            height: 65vh;
            border-radius: 16px;
            overflow: hidden;
            padding: 48px 24px;
            background: cover;
            background-position: center;
            cursor: pointer;
            transition: background 0.3s ease, opacity 0.3s ease;
            z-index: 0;

            .content {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }

            h3 {
                font-size: 18px;
                font-weight: 700;
                color: #FFF;
                margin: 25px 10px 10px 28px;
            }

            p {
                color: #FFF;
                font-size: 28px;
                font-weight: 600;
                margin: 10px 26px 26px 26px;
            }
        }
    }
  }

  .blogSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;

  > h2 {
      font-size: 48px;
      font-weight: 500;
      color: #caccff;
      margin-bottom: 48px;
      background: #FFF;
      -webkit-background-clip: text;
      background-clip: text;
      text-align: center;
      color: transparent;
  }

  .blogList {
          width: 90vw;
            display: flex;
            gap: 36px;
            padding: 36px 0;
            scroll-behavior: smooth;
            overflow-x: auto;
            overflow-y: hidden;
            align-items: center;
            justify-content: flex-start;
            flex-direction: row;

      &::-webkit-scrollbar {
          width: 0 !important;
      }

      .blogItem {
          position: relative;
          min-width: 345px;
          height: 65vh;
          border-radius: 16px;
          overflow: hidden;
          padding: 48px 24px;
          background: cover;
          background-position: center;
          cursor: pointer;
          transition: background 0.3s ease, opacity 0.3s ease;
          z-index: 0;

          .content {
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              z-index: 10;
              display: flex;
              flex-direction: column;
              justify-content: flex-end;
          }

          h3 {
              font-size: 18px;
              font-weight: 700;
              color: #FFF;
              margin: 25px 10px 10px 28px;
          }

          p {
              color: #FFF;
              font-size: 28px;
              font-weight: 600;
              margin: 10px 26px 26px 26px;
          }
      }
  }
  }
 
  .newsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
  
    > h2 {
        font-size: 48px;
        font-weight: 500;
        color: #caccff;
        margin-bottom: 48px;
        background: #FFF;
        -webkit-background-clip: text;
        background-clip: text;
        text-align: center;
        color: transparent;
    }
  
    .newsList {
        width: 90vw;
        display: flex;
        gap: 36px;
        padding: 36px 0;
        scroll-behavior: smooth;
        overflow-x: auto;
        overflow-y: hidden;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
  
        &::-webkit-scrollbar {
            width: 0 !important;
        }
  
        .newsItem {
            position: relative;
            min-width: 345px;
            height: 65vh;
            border-radius: 16px;
            overflow: hidden;
            padding: 48px 24px;
            background: cover;
            background-position: center;
            cursor: pointer;
            transition: background 0.3s ease, opacity 0.3s ease;
            z-index: 0;
  
            .content {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
  
            h3 {
                font-size: 18px;
                font-weight: 700;
                color: #FFF;
                margin: 25px 10px 10px 28px;
            }
  
            p {
                color: #FFF;
                font-size: 28px;
                font-weight: 600;
                margin: 10px 26px 26px 26px;
            }
        }
    }
  }

  .storySection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
  
    > h2 {
        font-size: 48px;
        font-weight: 500;
        color: #caccff;
        margin-bottom: 48px;
        background: #FFF;
        -webkit-background-clip: text;
        background-clip: text;
        text-align: center;
        color: transparent;
    }
  
    .storyList {
        width: 100%;
        max-width: 90%;
        display: flex;
        gap: 56px;
        padding: 36px 0;
        scroll-behavior: smooth;
        overflow-x: auto;
        overflow-y: hidden;
        align-items: center;
        justify-content: center;

        &:first-child{
          margin-left: 300px;
        }
  
        &::-webkit-scrollbar {
            width: 0px !important;
        }
          
        .storyItem {
            position: relative;
            min-width: 345px;
            height: 55vh;
            border-radius: 16px;
            overflow: hidden;
            padding: 48px 24px;
            background: cover;
            background-position: center;
            cursor: pointer;
            transition: background 0.3s ease, opacity 0.3s ease;
            z-index: 0;
  
            .content {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 10;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
            }
  
            h3 {
                font-size: 18px;
                font-weight: 700;
                color: #FFF;
                margin: 25px 10px 10px 28px;
            }
  
            p {
                color: #FFF;
                font-size: 28px;
                font-weight: 600;
                margin: 10px 26px 26px 26px;
            }
        }
    }
  }

  .featured{
    position: relative;
    margin-top: 10%;
    overflow: hidden;
    margin-bottom: 15%;
    min-width: 80%;
    border-radius: 10px;
    padding: 10%;
    

    .content{
      position: relative;
      z-index: 1; 
      font-size: 28px;
      font-weight: 400;
      background: #000000;
      -webkit-background-clip: text;
      background-clip: text;
      display: flex;
      flex-direction: column;
      align-items: center;

      > p{
        color: #000000;
        margin: 0;
      }
      > button{
        margin-top: 20px;
        font-size: 16px;
        font-weight: 400;
        min-width: 200px;
        background: #020BE4;
        border: 0px solid;
        border-radius: 20px;
        padding: 10px 30px 10px 30px;
      }
    }
    .call{
        cursor: pointer;
    }

    .imgTag {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
    }
  }
}
}

@media (max-width: 768px) {
    .main {
      position: relative;
    }
  
    .topSection {
      margin-top: 50px; /* Ensure the navbar is not overlapped */
      width: 100%;
      padding: 0 20px; /* Adjust the padding for mobile devices */
    }
  
    .topList {
        margin-top: 10%;
        width: 100%;
        display: flex;
        gap: 56px;
        padding: 36px 0;
        scroll-behavior: smooth;
        overflow-x: auto;
        overflow-y: hidden;
        align-items: center;
        justify-content: flex-start;
  
    }
  
    .topItem {
      width: 100%;
      height: auto;
      padding: 20px;
    }
  
    .caseSection,
    .blogSection,
    .newsSection,
    .storySection {
      width: 100%;
      padding: 0 20px; /* Adjust padding for mobile devices */
    }
  
    .caseItem,
    .blogItem,
    .newsItem,
    .storyItem {
      min-width: 100%; /* Ensure items take full width on mobile */
      height: auto;
    }
  }
  
  @media (max-width: 500px) {
    .main {
      position: relative;
    }
  
    .topSection {
      margin-top: 70px; /* Ensure the navbar is not overlapped */
      width: 100%;
      padding: 0 10px; /* Adjust the padding for smaller screens */
    }
  
    .topList {
        margin-top: 10%;
        width: 100%;
        display: flex;
        gap: 56px;
        padding: 36px 0;
        scroll-behavior: smooth;
        overflow-x: auto;
        overflow-y: hidden;
        align-items: center;
        justify-content: flex-start;
  
    }
  
    .topItem {
      width: 100%;
      height: auto;
      padding: 10px;
    }
  
    .caseSection{
      width: 100%;
      padding: 0 1px;

      .caseStudyList{
        width: 100%;        
        display: flex;
        gap: 56px;
        padding: 36px 10px;
        scroll-behavior: smooth;
        overflow-x: auto;
        align-items: center;
        justify-content: unset;

        &::-webkit-scrollbar {
            width: 0 !important;
        }

        &:first-child{
            margin-left: 300px;
        }


        .caseItem{
            position: relative;
            min-width: 300px;
            height: 430px;
            border-radius: 16px;
            overflow: hidden;
            padding: 48px 24px;
            background: cover;
            background-position: center;
            cursor: pointer;
            transition: background 0.3s ease, opacity 0.3s ease;
            z-index: 0;
        }
      }
    }
  
    .blogSection{
        width: 100%;
        padding: 0 1px;
  
        .blogList{
          width: 100%;        
          display: flex;
          gap: 56px;
          padding: 36px 10px;
          scroll-behavior: smooth;
          overflow-x: auto;
          align-items: center;
          justify-content: unset;
  
          &::-webkit-scrollbar {
              width: 0 !important;
          }
  
          &:first-child{
              margin-left: 300px;
          }
  
  
          .blogItem{
              position: relative;
              min-width: 300px;
              height: 430px;
              border-radius: 16px;
              overflow: hidden;
              padding: 48px 24px;
              background: cover;
              background-position: center;
              cursor: pointer;
              transition: background 0.3s ease, opacity 0.3s ease;
              z-index: 0;
          }
        }
      }

      .newsSection{
        width: 100%;
        padding: 0 1px;
  
        .newsList{
          width: 100%;        
          display: flex;
          gap: 56px;
          padding: 36px 10px;
          scroll-behavior: smooth;
          overflow-x: auto;
          align-items: center;
          justify-content: unset;
  
          &::-webkit-scrollbar {
              width: 0 !important;
          }
  
          &:first-child{
              margin-left: 300px;
          }
  
  
          .newsItem{
              position: relative;
              min-width: 300px;
              height: 430px;
              border-radius: 16px;
              overflow: hidden;
              padding: 48px 24px;
              background: cover;
              background-position: center;
              cursor: pointer;
              transition: background 0.3s ease, opacity 0.3s ease;
              z-index: 0;
          }
        }
      }
  }