.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background: linear-gradient(90deg, #050CAF 0%, #070A5D 100%);
    padding: 20px;
    border-radius: 8px;
    max-width: 300px;
    max-height: 700px;
    width: 100%;
    height:65%;
    position: relative;

    .closeButton {
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
      }
      
      
        .top{
            margin-top: 30px;
            font-size: 25px;
            font-weight: 600;
            
        }
        .bottom{
            margin-top: -20px;
            font-size: 25px;
            font-weight: 600;
            
        }
      
      
      form {
        display: flex;
        flex-direction: column;
      
        label {
          margin-top: 10px;
        }
      
        input,
        textarea {
          margin-top: 25px;
          padding: 10px;
          font-size: 16px;
          border: 1px solid #cccccc00;
          border-radius: 10px;
          background: #d9d9d957;
          box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.356);
          resize: vertical;

          color: fieldtext !important;
      transition: background-color 5000s ease-in-out 0s;

      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        appearance: menulist-button;
        background: #d9d9d957 !important;
        color: fieldtext !important;
        box-shadow: 0 0 0px 1000px #d9d9d957 inset !important;
      }

      &:-moz-autofill,
      &:-moz-autofill:hover,
      &:-moz-autofill:focus,
      &:-moz-autofill:active {
        appearance: menulist-button;
        background: #d9d9d957 !important;
        color: fieldtext !important;
        box-shadow: 0 0 0px 1000px #d9d9d957 inset !important;
      }

      &:-internal-autofill-selected {
        appearance: menulist-button;
        background: #d9d9d957 !important;
        color: fieldtext !important;
        box-shadow: 0 0 0px 1000px #d9d9d957 inset !important;
      }
        }
      
        button {
          margin-top: 35px;
          padding: 10px;
          font-size: 16px;
          font-weight: 600;
          border: none;
          background: #000AFF;
          color: white;
          border-radius: 10px;
          cursor: pointer;
          width: 65%;
      
          &:hover {
            background-color: #005bb5;
          }
        }
      }
      
  }
  
  