

.navigation {
  position: relative;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  transition: all 0.2s ease-out;

  &.scrolled {
    background: rgba(0, 0, 0, 0.611);
  }

  .banner {
    position: absolute; // Ensure the banner is fixed to the top
    top: 0;
    width: 100%;
    z-index: 10;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0 6px 0; // Adjust padding if necessary
    background: #040aa3;
  
    a {
      font-weight: 800;
      text-decoration: none;
      color: #fff;
    }
  }

  .logo {
    display: flex;
    flex-direction: column; /* To stack logo image and text vertically */
    align-items: center; /* Center-align the text below the logo */
    margin: 0;
    padding: 10px;
    text-decoration: none;
    transition: opacity 0.1s ease-in-out, visibility 0s 0.3s;

    img {
      width: 60px;
      height: 60px;
    }

    p {
      font-size: 12px;
      font-weight: 900;
      margin: 5px 0 0; /* Adjust margin to position text correctly below the logo */
      color: #fff;
      text-align: center; /* Center text under the logo */
    }

    &.logoHidden {
      opacity: 0;
      visibility: hidden;
    }
  }

  .nav {
    width: 80%;
    display: flex;
    align-items: center;
    margin-top: 54px;
    cursor: pointer;
    transition: opacity 0.1s ease-in-out, visibility 0s 0.3s;
    will-change: transform, opacity;

    &.navHidden {
      opacity: 0;
      visibility: hidden;
    }

    .links {
      position: relative;
      display: flex;
      flex: 1 1 0%;
      gap: 100px;
      justify-content: center;
      padding-left: 90px;

      > a,
      .whatWeDo > a {
        position: relative;
        font-size: 14px;
        font-weight: 400;
        padding: 2px 8px;
        cursor: pointer;
        text-decoration: none;
        color: #fff;

        &::after {
          content: '';
          position: absolute;
          left: 8px;
          bottom: -1px;
          width: calc(100% + 16px);
          display: block;
          height: 2px;
          background: linear-gradient(to right, #010afd, transparent);
          scale: 0;
          transition: all 0.5s ease;
          transform-origin: left;
        }

        &:hover {
          &::after {
            scale: 1;
          }
        }
      }

      .whatWeDo {
        display: flex;
        flex-direction: column;

        &:hover .dropdown {
          display: flex;
        }
      }
    }

    .contact {
      padding: 10px 20px;
      border-radius: 12px;
      background: #18181800;
      border: 2px solid #3237c0;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.3s ease-out;
      color: #fff;

      &:hover {
        background: linear-gradient(90deg, #050caf 0%, #070a5d 100%);
        transform: scale(1.1);
      }
    }

    .hamburger {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 25px;
      height: 21px;
      cursor: pointer;

      span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: #fff;
        transition: all 0.3s ease-in-out;
      }

      &.open {
        span {
          &:first-child {
            transform: translateY(9px) rotate(45deg);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:last-child {
            transform: translateY(-9px) rotate(-45deg);
          }
        }
      }
    }
  }
}
        .dropdown {
          position: absolute;
          left: -1%;
          width: 80vw;
          height: 500px;
          display: none;
          padding-top: 55px;
          z-index: 10000001; /* Ensure it's higher than .calendly */

          .content {
            position: relative;
            flex: 1;
            background: #160c30;
            border-radius: 5px;
            display: flex;

            .background {
              position: absolute;
              top: 50%;
              left: 50%;
              width: 900px;
              height: 700px;
              transform: translate(-38%, -50%);
              border-radius: 999px;
              background: #1c3352;
              filter: blur(89px);
              opacity: 0.6;
            }

            .menu {
              min-width: 300px;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              padding: 24px;
              gap: 16px;

              > span {
                position: relative;
                width: 100%;
                padding: 8px 16px;
                border-radius: 4px;
                user-select: none;
                color: #fff;
                cursor: pointer;
                transition: background 0.3s ease;

                &::after {
                  content: '';
                  position: absolute;
                  top: 50%;
                  right: 16px;
                  transform: translateY(-50%);
                }

                &.active {
                  background: #32304e;

                  &::after {
                    content: ' ➤';
                  }
                }

                &:hover {
                  background: rgba(255, 255, 255, 0.1);
                }
              }
            }

            .dropdownLinks {
              flex: 1;
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
              margin-left: -25px;
              padding: 24px;

              > a {
                padding: 12px;
                font-size: 14px;
                font-weight: 500;
                text-decoration: none;
                color: #fff;
                border-radius: 4px;
                transition: all 0.3s ease-out;

                &:hover {
                  background-color: rgba(255, 255, 255, 0.1);
                }
              }
            }
          }
        }
@media (max-width: 1000px) {
  .navigation {
    .nav {
      .links {
        gap: 50px;
      }
    }
  }
}

@media (max-width: 768px) {
  .navigation {
    position: relative;
    .mastermenu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); /* Centers the div */
      margin-top: 0; /* Reset margin since centering with flexbox */
    }
    .mobileMenuItem {
      font-size: 1.875rem;
      width: 18rem;
      height: 5rem;
      text-align: center;
      color: #fff;
      background: #32304e;
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      cursor: pointer;
      margin-top: 2rem;
      text-decoration: none;
 
    }
.menuItem{
  font-size: 1.5rem;
  width: 100%;
  padding: 10px 0;
  text-align: left;
  border-bottom: 1px solid #777;
  color: #fff;
  cursor: pointer;
}

    .mobileBack {
      font-size: 1.875rem;
      text-align: left;
      width: 100%;
      margin-bottom: 20px;
      cursor: pointer;
      color: #fff;
      margin-top: -2.75rem;
      margin-left: -1rem;
    }
    .paragraph{
      font-size: 1.5rem;
      margin-bottom: -3rem;
      margin-top: -3rem;
    }

    .mobileSubMenuItem {
      font-size: 0.875rem;
      width: 100%;
      padding: 10px 0;
      text-align: left;
      margin-left: 2rem;
      color: #b5b5b5;
      cursor: pointer;
      transition: transform 0.3s ease, color 0.3s ease;
    
      &:hover {
        transform: scale(1.05); // Slight zoom
        color: #ffffff; // Full white on hover
      }
    }
    .scrollableMenu {
      max-height: 100vh; /* Set a max height for the scrollable area */
      overflow-y: auto; /* Enable vertical scroll */
      overflow-x: hidden; /* Disable horizontal scroll */
      scrollbar-width: thin; /* Firefox */
      scrollbar-color: #666 #32304e; /* Firefox */
    }
    
    /* Customize scrollbar for Webkit browsers (Chrome, Safari) */
    .scrollableMenu::-webkit-scrollbar {
      width: 6px; /* Set scrollbar width */
    }
    
    .scrollableMenu::-webkit-scrollbar-thumb {
      background-color: #666; /* Color of the scroll thumb */
      border-radius: 10px; /* Round the corners of the scroll thumb */
    }
    
    .scrollableMenu::-webkit-scrollbar-track {
      background-color: #32304e; /* Scrollbar track color */
    }
    

    .nav {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;

      .logo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
      }

      .hamburger {
        display: flex;
        z-index: 6;
      }


      .links {
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: black;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 70px 48px 48px 48px;
        z-index: 5;

        
        .whatWeDo {
          .dropdown {
            position: relative;
            width: 100%;
            padding: 0;
            display: flex;

            .content {
              background: none !important;

              .background {
                position: fixed;
                width: 100%;
                aspect-ratio: 1;
                transform: translate(-50%, -50%);
              }

              .menu {
                padding: 0;
                display: none;

                > span {
                  max-width: 100%;
                  padding: 0;
                  font-size: 18px;
                  position: relative;

                  &::after {
                    content: '⮟';
                    right: 8px;
                    top: 50%;
                    transition: transform 0.3s ease;
                  }

                  &.show::after {
                    transform: translateY(-50%) rotate(180deg);
                  }
                }

                .dropdownLinks {
                  max-height: 240px;
                  padding: 16px 0;
                  gap: 16px;

                  a {
                    font-size: 18px;
                    padding: 8px 0;
                    width: 100%;
                    text-align: left;
                    border-bottom: 1px solid #444;
                  }
                }
              }
            }
          }
        }
      }

      .contact {
        display: none; /* Keep hidden in mobile */
      }

      &.open {
        .links {
          display: flex; /* Display when open */
        }
      }
    }
  }
}

@media (max-width: 568px) {
  .navigation {
    .nav {
      margin-top: 3%;

      .links {
        a {
          font-size: 24px;
        }

        .whatWeDo {
          a {
            font-size: 24px;
          }

          .dropdown {
            .content {
              .menu {
                .dropdownLinks {
                  max-height: 350px;
                }
              }
            }
          }
        }
      }
    }
  }
}


@media (max-width: 420px) {
  .navigation {
    .logo {
      margin-top: 60px;
      margin-left: 20px;

      img {
        height: 40px;
        width: 40px;
      }

      p {
        font-size: 9px;
        margin-top: -3px;
        margin-left: 3px;
      }
    }

    .nav {
      margin-top: 30px;
      .links {
        .whatWeDo {
          .dropdown {
            .content {
              .menu {
                .dropdownLinks {
                  max-height: unset;
                }
              }
            }
          }
        }
      }
    }
  }
}
