.main {
  > h1 {
    font-size: 48px;
    margin-top: 10rem;
    font-weight: 500;
    color: #caccff;
    margin-bottom: 48px;
    background: #FFF;
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
    color: transparent;
  }
}

.products {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  padding: 2vw 5vw;
  flex-wrap: wrap; // Allow cards to wrap on larger screens

  @media (max-width: 768px) {
    margin-bottom: 20vh;
    flex-wrap: nowrap; // Prevent wrapping on smaller screens
    overflow-x: auto;  // Enable horizontal scrolling
    scroll-behavior: smooth;
    gap: 0.5rem;
    padding: 1rem;
  }
  @media (max-width: 480px) {
    margin-bottom: 10vh;
  }
}

.card {
  position: relative;
  border-radius: 20px;
  border: 1px solid ;
  border-image-source: linear-gradient(113.19deg, rgba(225, 0, 0, 0.09) -0.58%, rgba(162, 43, 43, 0.09) 71.21%);
  // box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1), 0 8px 40px rgba(0, 0, 0, 0.15);
  background-color: #6464641a;
  // box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  backdrop-filter: blur(3px);
  border-radius: 12px;
  padding: 2vw;
  width: 22vw;  // Responsive width based on viewport
  height: 60vh;  // Responsive height based on viewport
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), 0 20px 40px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h2 {
    font-size: 1.5rem;
    margin-top: -0.1rem;
    color: #ffffff;
    z-index: 10;
  }

  h4 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    // font-weight: 400;
    // font-size: 1.2rem;
    margin-top: -0.2;
  }

  h3 {
    margin-top: -0.2rem;
    font-size: 1.5rem;
    color: #ffffff;
    z-index: 10;
  }

  p {
    // margin-top: 1rem;
    font-size: 2vh;
    font-weight: 500;
    color: white;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:hover {
    transform: scale(1.07);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5), 0 30px 60px rgba(0, 0, 0, 0.4);
  }

  @media (max-width: 768px) {
    width: 70vw; // Make the cards wider for mobile
    height: 50vh;
    flex-shrink: 0; // Prevent shrinking while scrolling
    margin-right: 10vw;
  }

  @media (max-width: 480px) {
    width: 60vw;
    height: 50vh;
    p{
      font-size: .9rem;
    }
  }
}

.icon {
  width:  90%;
  font-size: 3rem;
  text-align: left;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: transform 0.5s ease;
  position: absolute;
  bottom: 20%; // Original icon position
  left: 5%; 
  right: 5%;
  img{
    filter: invert(100%) brightness(2);
  }
  h3 {
    display: none;
  }
  @media (max-width: 480px) {
    bottom: 1%; // Adjusted for mobile
  }
  @media (max-width: 768px) {
    bottom: 15%; // Adjusted for mobile
  }
}

.card.hovered .icon {
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0%;
  margin-top: 15%;
  height: 100%;
  margin-bottom: 15%;
  h2 {
    display: none;
  }

  h3 {
    display: block;
    animation: fadeIn 0.3s ease;
  }
}
.iconContainer{
  // border: solid red;
}
.productLink {
  z-index: 10;
  position: absolute;
  width: 80%;
  bottom: 5%;
  .viewButton {
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 0.8rem 1.6rem;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #333;
    }
  }

  @media (max-width: 768px) {
    .viewButton {
      padding: 0.6rem 1.4rem;
      font-size: 0.9rem;
    }
  }
}

.circle {
  position: absolute;
  width: 20vw; // Responsive circle size
  height: 20vw;
  background: radial-gradient(circle farthest-corner at center center, #580989 0%, #00000000 70%);
  border-radius: 50%;
  top: -5vw;
  right: -10vw;
  transition: all 0.5s ease;
  z-index: 1;

  @media (max-width: 768px) {
    width: 50vw;
    height: 50vw;
  }

  @media (max-width: 480px) {
    width: 40vw;
    height: 40vw;
    top: -5vh;
    right: -10vh;
  }
}

.card.hovered .circle {
  width: 35vw;
  height: 35vw;
  top: 60%;
  right: 50%;
  transform: translate(50%, -50%);

  @media (max-width: 768px) {
    width: 70vw;
    height: 70vw;
  }
}

.show {
  opacity: 1 !important; // Display description on hover
  display:flex;
}

.hide {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 480px) {
  .card {
    min-width: 70vw;
    height: auto; /* Allows height to grow if content overflows */
    min-height: 50vh; /* Minimum height for consistency */
    // spadding-bottom: 1rem; /* Adds extra space if content overflows */
    overflow: hidden; /* Ensures content visibility */
  }
  
.card.hovered .icon {
  margin-bottom: 8vh;
}
  .circle {
    width: 25vh;
    height: 25vh;
    z-index: 1;
  }
  .productLink{
    width: 95%;
  }

  .card.hovered .circle {
    width: 60vh;
    height: 60vh;
  }
  .p {
    font-size: 0.9rem;
  }
}
@media (max-width: 768px) {
  .products {
    margin-bottom: 20vh;
    flex-wrap: nowrap; // Prevent wrapping on smaller screens
    overflow-x: auto;  // Enable horizontal scrolling
    scroll-behavior: smooth;
    gap: 0.5rem;
    padding: 1rem;

    /* Hide scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }

  .products::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}