.section {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 5rem 5rem 2rem 5rem;
  gap: 4rem;

  @media (max-width: 768px) {
    padding: 3rem 2rem;
  }

  @media (max-width: 480px) {
    padding: 2rem 1rem;
  }
}

/* ========== Stats Part ========== */
.statsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4rem;

  @media (max-width: 1024px) {
    align-items: flex-start;
  }
}

.statsRow {
  display: flex;
  justify-content: space-between;
  width: 56%;
  gap: 2rem;

  @media (max-width: 1200px) {
    width: 70%;
  }

  @media (max-width: 1024px) {
    width: 100%;
    flex-direction: column;
  }
}

.card {
  flex: 1;

  h3 {
    margin: 0;
    font-size: 1.5rem;

    @media (max-width: 768px) {
      font-size: 1.3rem;
    }
  }

  .divider {
    height: 3px;
    background-color: rgba(176, 176, 176, 1);
    margin: 1rem 0;
  }

  .stat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    h2 {
      margin: 0;
      font-size: 4rem;
      position: relative;

      @media (max-width: 768px) {
        font-size: 3rem;
      }

      @media (max-width: 480px) {
        font-size: 2.2rem;
      }
    }

    span {
      max-width: 180px;
      font-size: 17px;
      line-height: 1.3rem;
      color: rgba(104, 105, 99, 1);
      font-weight: 500;

      @media (max-width: 480px) {
        font-size: 15px;
      }
    }
  }

  .percent {
    position: relative;

    .icon {
      position: absolute;
      top: 20px;
      left: 84px;

      @media (max-width: 480px) {
        left: 65px;
        top: 12px;
      }
    }
  }
}

.relativeNum {
  position: relative;
}

.plusIcon {
  position: absolute;
}

/* Year Card */
.yearCard {
  width: 41%;

  @media (max-width: 1024px) {
    width: 100%;
  }

  h3 {
    margin: 0;
    font-size: 1.5rem;

    @media (max-width: 768px) {
      font-size: 1.3rem;
    }
  }

  .divider {
    height: 3px;
    background-color: rgba(176, 176, 176, 1);
    margin: 1rem 0;
  }

  .yearContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;
    }

    span {
      max-width: 250px;
      font-size: 17px;
      line-height: 1.4rem;
      color: rgba(104, 105, 99, 1);
      font-weight: 500;

      @media (max-width: 480px) {
        font-size: 15px;
      }
    }

    h2 {
      margin: 0;
      font-size: 4rem;

      @media (max-width: 768px) {
        font-size: 3rem;
      }

      @media (max-width: 480px) {
        font-size: 2.4rem;
      }
    }
  }
}

/* ========== Team Intro ========== */
.teamIntro {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;

  @media (max-width: 1024px) {
    flex-direction: column;
    padding: 2rem 0;
  }

  h2 {
    margin: 0;
    font-size: 21px;
    font-weight: 600;

    @media (max-width: 480px) {
      font-size: 18px;
    }
  }

  p {
    margin: 0;
    max-width: 570px;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.9rem;
    // color: rgba(104, 105, 99, 1);

    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 1.6rem;
    }

    @media (max-width: 480px) {
      font-size: 16px;
      line-height: 1.4rem;
    }
  }
}

.teamLeft {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.topRow,
.middleRow,
.bottomRow {
  display: flex;
  gap: 10px;
  justify-content: flex-end;

  @media (max-width: 480px) {
    justify-content: flex-start;
  }
}

.countCircle {
  background-color: rgba(238, 237, 236, 1);
  border-radius: 100%;
  font-size: 1rem;
  width: 40px;
  height: 40px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media (max-width: 480px) {
    width: 32px;
    height: 32px;
    font-size: 0.85rem;
  }
}

.miniPlus {
  position: absolute;
  right: 1px;
  top: 13px;

  @media (max-width: 480px) {
    top: 9px;
    right: 0;
  }
}
