.theme-switch-button {
    display: flex;
    align-items: center;
    padding: 8px 12px !important;
    border-radius: 25px;
    background-color: #1a1a1a; // Use the sidebar background or slightly lighter shade
    border: 1px solid #333; // Subtle border to define button edges
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  
    &.light {
      background-color: #ffffff !important; // Lighter for light mode
      color: #333 !important;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
    }
  
    &.dark {
      background-color: #1a1a1a !important; 
      color: #fff !important;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.1) !important;
    }
  
    &:hover {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    }
  
    svg {
      margin-left: 0.3rem;
      margin-right: 0.3rem;
      transition: transform 0.3s ease;
    }
  
    .theme-label {
      font-size: 14px;
      color: inherit; // Ensures the text color adapts to the theme
      white-space: nowrap;
      transition: opacity 0.3s ease;
    }
  
    &:active {
      svg {
        transform: scale(0.9);
      }
    }
  }
  
  @media (max-width: 768px){
    .theme-switch-button {
    
      &.light {
        background-color: #ffffff !important; // Lighter for light mode
        color: #333 !important;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
      }
    
      &.dark {
        background-color: #1a1a1a !important; 
        color: #fff !important;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.1) !important;
      }
    }
  }