  .mainContainer {
    background-image: url('/images/pl-bg.png');
    background-size: contain; /* Ensures the image covers the entire container */
    background-position: top center; /* Centers the image */
    background-color: white;
    background-repeat: no-repeat; /* Prevents repeating the image */
    width: 100%;
    min-height: 100vh; /* Adjust height as per your requirement */
    padding: 20px; /* Add padding or margins as needed */
    @media (max-width: 768px) {
            padding: 1rem;
            min-width: 100vw;
          }
  }
  .closeButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    @media(max-width:480px){
      top: 4rem;
    }
  }
  
  .closeButton img {
    width: 20px;
    height: 20px;
  }
  
  .errorMessage{
    color: red;
  }
  .goBackContainer {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  
    .goBack {
      font-size: 1rem;
      text-decoration: none;
      color: #666;
  
      &:hover {
        color: #333;
      }
    }
  }
  
  .contentContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 20vh;
  
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }
  }
  
  .description {
    flex: 1;
    margin-right: 2rem;
    width: 50%;
    // padding: 0 10%;
    margin-top: -10%;
    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      color: #000;
      padding: 0 10%;
      @media (max-width: 480px) {
        font-size: 2rem;
        padding: 0;
      }
    }
  
    p {
      font-size: 1.3rem;
      color: black;
      font-weight: 500;
      padding: 0 10%;
      @media (max-width: 480px) {
        padding: 0;
      }
    }
  
    @media (max-width: 480px) {
      width: 100%;
      margin-right: 0;
      text-align: center;
      margin-bottom: 2rem;
    }
  }
  
  .form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
  
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  .btnContainer{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .inputField {
    width: 70%;
    padding: 0.75rem;
    height: 10vh;
    font-size: 1rem;
    border: 2px solid #800080;
    border-radius: 20px;
    color: #000;
  
    &::placeholder {
      color: #999;
    }
  
    @media (max-width: 768px) {
      width: 100%;
    }
  }
  
  .button {
    background-color: #000;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #333;
    }
  }
  .resultContainer {
    width: 100%;
    margin-top: 2rem;
    text-align: left;
    padding: 0 4.5rem;
  
    @media (max-width: 480px) {
      padding: 0 1rem; // Reduce side padding on mobile for better content fit
    }
  
    h2 {
      font-size: 2rem;
      margin-bottom: 1.2rem;
      color: #000;
      display: inline-block;
  
      @media (max-width: 480px) {
        font-size: 1.5rem; // Adjust font size for mobile
      }
    }
  
    .markdownContainer {
      font-size: 1.3rem;
      line-height: 1.6;
      color: #34495e;
      font-family: 'Poppins', sans-serif;
      padding: 2rem;
      border: 1px solid #000000;
      border-radius: 8px;
      background-color: #ffffff;
      white-space: pre-wrap;
      overflow: auto;
  
      @media (max-width: 480px) {
        font-size: 1rem; // Smaller font size for better readability on mobile
        padding: 1rem; // Reduce padding on mobile
      }
  
      h1, h2, h3, h4, h5, h6 {
        color: #000;
      }
  
      img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 20px auto;
        border-radius: 8px;
        background: #f5f5f5;
        padding: 1rem;
  
        @media (max-width: 480px) {
          padding: 0.5rem; // Less padding for images on mobile
        }
      }
  
      p {
        margin-bottom: 1rem;
        padding-bottom: 0.5rem;
        text-align: justify;
        position: relative;
        color: #000;
  
        & + &::before {
          content: '';
          display: block;
          width: 70%;
          margin: 20px auto;
          border-bottom: 1px solid #ddd;
        }
  
        @media (max-width: 480px) {
          margin-bottom: 0.5rem;
          padding-bottom: 0.25rem;
        }
      }
  
      strong {
        font-weight: bold;
        color: black;
        margin-top: 1%;
  
        @media (max-width: 480px) {
          font-size: 1.1rem; // Slightly smaller bold text
        }
      }
  
      ul, ol {
        color: #34495e;
        margin-left: 1.5rem;
        list-style-position: outside;
        margin-bottom: 0.5rem;
        margin-top: -1rem;
  
        @media (max-width: 480px) {
          margin-left: 1rem; // Adjust list margin on mobile
        }
      }
  
      li {
        margin-bottom: 0.25rem;
        line-height: 1.4;
        color: #000;
  
        @media (max-width: 480px) {
          line-height: 1.3; // Tighter line spacing on mobile
        }
      }
  
      li strong {
        margin-top: 0;
      }
  
      li::marker {
        color: #34495e;
      }
  
      li p {
        display: inline;
        margin: 0;
        color: #000;
      }
  
      li ul {
        margin-bottom: 0.25rem;
      }
  
      li + li {
        margin-top: 0.2rem;
      }
  
      ol {
        padding-left: 1rem;
  
        @media (max-width: 480px) {
          padding-left: 0.8rem; // Adjust ordered list padding on mobile
        }
      }
    }
  }
  
  
  .signInContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; // Ensure it's on top of other elements
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
  }
  
  .signInHeading {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .signInDescription {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #555;
  }
  
  .googleButtonContainer {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .orSeparator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 0.9rem;
    color: #777;
  
    &::before,
    &::after {
      content: '';
      flex: 1;
      height: 1px;
      background: #ddd;
      margin: 0 10px;
    }
  }
  
  .popupContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 10vh 10vw;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    text-align: center;
  }
  
  .popupContainer h2 {
    margin-bottom: 10px;
    color: #000;
    font-size: 24px;
  }
  
  .popupContainer p {
    margin-bottom: 20px;
    font-size: 16px;
    color: #000;
  }
  
  .popupContainer .pricingLink {
    text-decoration: none;
  }
  
  .popupContainer .button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .popupContainer .button:hover {
    background-color: #005bb5;
  }

  .signInForm {
    display: flex;
    flex-direction: column;
  }
  
  .inputField {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .signInButton {
    background-color: #0070f3;
    color: #fff;
    padding: 12px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #005bb5;
    }
  }
  
  .blurBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);  // Apply the blur effect
    z-index: 999;  // Ensure it's behind the sign-in form but above the rest of the content
    background-color: rgba(0, 0, 0, 0.4);  // Optional dark overlay for the blur
  }
  